USE [master]
GO
/****** Object:  Database [ProyectoDB_Quezada]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE DATABASE [ProyectoDB_Quezada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoDB_Quezada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoDB_Quezada.mdf' , SIZE = 401408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoDB_Quezada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoDB_Quezada_log.ldf' , SIZE = 3350528KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoDB_Quezada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoDB_Quezada]
GO
/****** Object:  Table [dbo].[Bebidas]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bebidas](
	[IdBebidas] [int] IDENTITY(1,1) NOT NULL,
	[Bebidas] [varchar](250) NOT NULL,
 CONSTRAINT [PK_IdBebidas] PRIMARY KEY CLUSTERED 
(
	[IdBebidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BebidasPrecios]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BebidasPrecios](
	[IdBebidaPrecio] [int] IDENTITY(1,1) NOT NULL,
	[BebidaID] [int] NOT NULL,
	[TamanoID] [int] NOT NULL,
	[Frio] [bit] NOT NULL,
	[Precio] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBebidaPrecio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Apellido] [varchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[NumeroTelefono] [int] NULL,
 CONSTRAINT [PK_IdCliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComidasPrecios]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComidasPrecios](
	[Comida] [varchar](250) NOT NULL,
	[Precio] [money] NOT NULL,
	[IdCP] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ComidasPrecios] PRIMARY KEY CLUSTERED 
(
	[IdCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Empleado] [varchar](250) NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Edad] [int] NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaPagos]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaPagos](
	[IdForma] [int] IDENTITY(1,1) NOT NULL,
	[Metodo] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdForma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tamanos]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tamanos](
	[IdTamano] [int] IDENTITY(1,1) NOT NULL,
	[Tamano] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IdTamanos] PRIMARY KEY CLUSTERED 
(
	[IdTamano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaPuntos]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaPuntos](
	[IdTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[NumSerie] [int] NOT NULL,
	[SaldoInicial] [money] NOT NULL,
	[ClienteID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Folio] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[FormaPagoId] [int] NOT NULL,
	[TarjetaPuntosId] [int] NULL,
	[VentaDetalleId] [int] NOT NULL,
	[NombreBebida] [varchar](250) NULL,
	[CantidadBebida] [int] NULL,
	[NombreComida] [varchar](250) NULL,
	[CantidadComida] [int] NULL,
	[VentaTotal] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaDetalle]    Script Date: 10/17/2023 8:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[IdVentaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[BebidaPrecioId] [int] NULL,
	[NombreBebida] [varchar](250) NULL,
	[CantidadBebida] [int] NULL,
	[PrecioUnitario_1] [money] NULL,
	[ComidaPrecioId] [int] NULL,
	[NombreComida] [varchar](250) NULL,
	[CantidadComida] [int] NULL,
	[PrecioUnitario_2] [money] NULL,
	[VentaTotal] [money] NOT NULL,
 CONSTRAINT [PK__IdVentaDetalle] PRIMARY KEY CLUSTERED 
(
	[IdVentaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bebidas]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Bebidas] ON [dbo].[Bebidas]
(
	[Bebidas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Clientes]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tamanos]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tamanos] ON [dbo].[Tamanos]
(
	[Tamano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CantidadBebida]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_CantidadBebida] ON [dbo].[VentaDetalle]
(
	[CantidadBebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CantidadComida]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_CantidadComida] ON [dbo].[VentaDetalle]
(
	[CantidadComida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NombreBebida]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_NombreBebida] ON [dbo].[VentaDetalle]
(
	[NombreBebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NombreComida]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_NombreComida] ON [dbo].[VentaDetalle]
(
	[NombreComida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VentaTotal]    Script Date: 10/17/2023 8:23:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_VentaTotal] ON [dbo].[VentaDetalle]
(
	[VentaTotal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BebidasPrecios]  WITH CHECK ADD  CONSTRAINT [FK_BebidaId] FOREIGN KEY([BebidaID])
REFERENCES [dbo].[Bebidas] ([IdBebidas])
GO
ALTER TABLE [dbo].[BebidasPrecios] CHECK CONSTRAINT [FK_BebidaId]
GO
ALTER TABLE [dbo].[BebidasPrecios]  WITH CHECK ADD  CONSTRAINT [FK_TamanoId] FOREIGN KEY([TamanoID])
REFERENCES [dbo].[Tamanos] ([IdTamano])
GO
ALTER TABLE [dbo].[BebidasPrecios] CHECK CONSTRAINT [FK_TamanoId]
GO
ALTER TABLE [dbo].[TarjetaPuntos]  WITH CHECK ADD  CONSTRAINT [FK_ClienteID] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[TarjetaPuntos] CHECK CONSTRAINT [FK_ClienteID]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_ClienteVentaId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_ClienteVentaId]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoId] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_EmpleadoId]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_FormaPagoId] FOREIGN KEY([FormaPagoId])
REFERENCES [dbo].[FormaPagos] ([IdForma])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_FormaPagoId]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_TarjetaPuntosId] FOREIGN KEY([TarjetaPuntosId])
REFERENCES [dbo].[TarjetaPuntos] ([IdTarjeta])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_TarjetaPuntosId]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalleId] FOREIGN KEY([VentaDetalleId])
REFERENCES [dbo].[VentaDetalle] ([IdVentaDetalle])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_VentaDetalleId]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_BebidaPrecioId] FOREIGN KEY([BebidaPrecioId])
REFERENCES [dbo].[BebidasPrecios] ([IdBebidaPrecio])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_BebidaPrecioId]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ComidaPrecioId] FOREIGN KEY([ComidaPrecioId])
REFERENCES [dbo].[ComidasPrecios] ([IdCP])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_ComidaPrecioId]
GO
USE [master]
GO
